@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-primary text-primary;
  }
  .scrollbar-x::-webkit-scrollbar {
    height: 15px;
  }
  .scrollbar-x::-webkit-scrollbar-thumb {
    @apply border-[5px] border-solid border-secondary bg-quaternary rounded-lg;
  }
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #1A2441 inset;
  -webkit-text-fill-color: #fff;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}